<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>SIS XML Browser</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
body {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
        </style>
    </head>
    <body>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <h1>SIS XML Browser</h1>

                    {{#invalid}}
                    <div class="alert alert-warning" role="alert">
                        <p>
                        {{#err_msg}}{{err_msg}}{{/err_msg}} {{^err_msg}}Sitzungsschlüssel ungültig oder abgelaufen.{{/err_msg}}
                        Bitte Anfrage erneut stellen.
                        </p>
                    </div>
                    {{/invalid}}

                    {{#info}}
                    <div class="alert alert-info" role="alert">
                        <p>{{info}}</p>
                    </div>
                    {{/info}}

                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

            <div class="row">
                <div class="col-md-12">

                    {{^auf}}
                    <h2>Einstieg</h2>
                    <form method="post" {{#action}}action="{{action}}"{{/action}}>

                        <div class="form-group">
                            <label for="vid"><abbr title="SIS Vereinsnummer">Nutzername</abbr></label>
                            <input class="form-control" type="text" id="vid" name="auf">
                        </div>

                        <input class="hidden" type="text" name="art" value="VEREINSDATEN" hidden>

                        <!--
                            Sure, you as a bad user can extract this value every time you need it.
                            But the obstacle is "big" enough for my purpose.
                        -->
                        <input class="hidden" type="text" name="jwt" value="{{jwt}}" hidden>

                        <input type="submit" class="btn btn-primary">

                    </form>
                    {{/auf}}

                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

            <div class="row">
                <div class="col-md-12">

                    <h2>Durchsuchen</h2>
                    <form method="post" {{#action}}action="{{action}}"{{/action}}>

                        <div class="form-group">
                            <label for="auf"><abbr title="SIS nennt das &quot;auf&quot;">Entität</abbr></label>
                            <input class="form-control" type="text" id="auf" name="auf" value="{{auf}}"/>

                        </div>

                        <div class="form-group">
                            <label for="art">Art</label>
                            <select name=art class="form-control">
                                <option {{^art}}selected{{/art}} disabled>Bitte auswählen.</option>
                                {{#schema}}
                                <option value="{{key}}" {{#selected}}selected{{/selected}}>{{key}}</option>
                                {{/schema}}
                            </select>
                        </div>

                        <input class="hidden" type="text" name="jwt" value="{{jwt}}" hidden>

                        <div class="form-group">
                            <input type=submit class="btn btn-primary">
                            <input type="reset" class="btn btn-default">
                            <a class="btn btn-default" href=".">Auswahl leeren</a>
                        </div>

                    </form>

                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

            <hr/>

            <div class="row">
                <div class="col-md-12 text-center">
                    <p>SIS XML Browser</p>
                    <p>&copy; {{year}} Christoph "criztovyl" Schulz</p>
                    <p>Licensed under AGPLv3 and later.</p>
                    <p><a target="_blank" href="https://gitlab.com/criztovyl/sis-xml-xsl">Source Code</a></p>
                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

        </div> <!-- .container-fluid -->

    </body>
</html>
